<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="~/JS/jquery-1.10.2.js"></script>
    <link href="~/Content/table.css" rel="stylesheet" />
    <script src="~/Content/layer.js"></script>
    @RenderSection("style",false)
</head>
<body>
    <header>
       @Html.Action("Header","Home")
    </header>
    <div id="body">
        <nav>
           @Html.Action("Nav","Home")
        </nav>
        <main>
            <h2>@ViewBag.title</h2>
          @RenderBody()
        </main>
    </div>
    <footer>
        ASP.NET MVC 5 - RBAC权限管理案例： RBAC Demo
    </footer>
    @RenderSection("script", false);
    <script>
        $(function(){
            $("#role-select").change(function () {
                var roleId = $(this).val();
                //console.log(roleId);
                $.ajax({
                    url:'@Url.Action("Nav","Home")',
                    data: {'roleId': roleId },
                    success: function (data) {
                          $("nav").html(data);
                       // console.log(data);
                    }
                })
            })
           



        })
    </script>
</body>
</html>

